{% extends "base.html" %}
{% block main %}
<div id="app">
  <h1 class="text-4xl">Account<span v-if="account.id">: {{account.name}}</span></h1>
  <table v-if="account.transactions">
    <tr>
      <th class="text-left pr-2">Date</th>
      <th class="text-left pr-2">Memo / Accounts</th>
      <th class="text-left pr-2" colspan="3">Entries
        {% include "components/button-plus.html" %}
      </th>
    </tr>
    <!-- new transaction -->
    <!-- first line includes date, memo, and first entry for this page's account. -->
    <tr v-for="(entry, index) in newTransaction.entries">
      <template v-if="index == 0">
        <td class="align-text-top pt-1 pr-2">
          <input type="date" v-model="newTransaction.effective" />
        </td>
        <td class="align-text-top pt-1 pr-2">
          <input type="text" class="w-48 border rounded" v-model="newTransaction.memo" />
        </td>
      </template>
      <template v-else="">
        <td></td>
        <td class="align-text-top pr-2">
          <select class="w-44 ml-4" v-model="newTransaction.entries[index].acct">
            <option value=""></option>
            <option v-for="acct of accounts" :value="acct.id" v-text="acct.name"></option>
          </select>
        </td>
      </template>
      <td class="align-text-top pt-1 pr-2">
        <input class="border rounded w-16" type="text" pattern="\d+(\.\d*)?"
          :OFF-disabled="newTransaction.entries[index].cr != null"
          v-model="newTransaction.entries[index].dr" @change="balanceNewTransaction" />
      </td>
      <td class="align-text-top pt-1 pr-2">
        <input class="border rounded w-16" type="text" pattern="\d+(\.\d*)?"
          :OFF-disabled="newTransaction.entries[index].dr != null"
          v-model="newTransaction.entries[index].cr" @change="balanceNewTransaction" />
      </td>
      <td class="align-text-top pt-1 pr-2">
        <select v-model="newTransaction.entries[index].curr" @change="balanceNewTransaction">
          <option value=""></option>
          <template v-for="currency of currencies">
            <option v-if="entry.curr == currency.code" :value="currency.code" v-text="currency.code"
              selected="">
            <option v-else="" :value="currency.code" v-text="currency.code">
          </template>
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="align-text-top pr-2 text-right" colspan="5">
        <button class="pr-2">Post</button>
        <button>Cancel</button>
      </td>
    </tr>
    <!-- existing transactions -->
    <template v-for="transaction in account.transactions">
      <!-- entries for this account first since we're suppressing this account name on the page -->
      <tr v-for="(entry, entryIndex) in transaction.entries.filter(
          (entry) => entry.acct == account.id).concat(
            transaction.entries.filter((entry) => entry.acct != account.id))">
        <template v-if="entryIndex == 0">
          <td class="align-text-top pt-1 pr-2">{{transaction.effective.split('T')[0]}}</td>
          <td class="align-text-top pt-1 pr-2"><span class="font-bold">{{transaction.memo}}</span>
          </td>
        </template>
        <template v-else="">
          <td class="align-text-top pt-1 pr-2"></td>
          <td class="align-text-top pt-1 pr-2">
            <a v-if="entry.acct != account.id" class="ml-4"
              :href="`/{$tenant_id}/accounts/view?id=${entry.acct}`">
              {{entry.acct_name}}
            </a>
          </td>
        </template>
        <td class="align-text-top pt-1 pr-2">
          <span :class="entry.acct == account.id ? 'font-bold' : ''">{{entry.dr}}</span>
        </td>
        <td class="align-text-top pt-1 pr-2">
          <span :class="entry.acct == account.id ? 'font-bold' : ''">{{entry.cr}}</span>
        </td>
        <td class="align-text-top pt-1 pr-2">
          <span :class="entry.acct == account.id ? 'font-bold' : ''">{{entry.curr}}</span>
        </td>
      </tr>
    </template>
  </table>
</div>
{% endblock %}
{% block footscript %}
<script>
  const TENANT = "{$tenant_id}";
  const ACCOUNT_ID = "{$request.query_params.get('id')}";
  // create an integer sequence generator - used to ensure that entries have unique keys
  function integerSequence() {
    var id = 0;
    return () => id += 1;
  }
  const newEntryKey = integerSequence();
  const app = Vue.createApp({
    data() {
      return {
        error: null,
        account: {},
        currencies: [],
        accounts: [],
        newTransaction: {
          // tenant_id: TENANT,
          effective: (new Date()).toISOString().split('T')[0],
          memo: "",
          entries: [
            // the first entry is assigned to this page's account
            {
              key: newEntryKey(),
              // tenant_id: TENANT,
              acct: ACCOUNT_ID,
              refs: [],
              dr: null,
              cr: null,
              curr: null,
            },
          ]
        }
      }
    },
    async created() {
      this.account = await fetchAccount();
      this.accounts = await fetchAccounts();
      this.currencies = await fetchCurrencies();
    },
    methods: {
      // when a new transaction entry is changed, balance the new transaction
      balanceNewTransaction(event) {
        accts = this.newTransaction.entries.filter(e => e.acct).map(e => e.acct);
        console.log(accts);
        this.newTransaction.entries = this.newTransaction.entries.filter(
          (e) => (e.acct == ACCOUNT_ID || e.refs.length > 0) && (e.dr || e.cr));
        const balances = this.newTransaction.entries.reduce(
          function (balances, entry) {
            // if (entry.curr) {
            if (!balances[entry.curr]) {
              balances[entry.curr] = { dr: 0, cr: 0, refs: [] };
            }
            balances[entry.curr].dr += Number(entry.dr);
            balances[entry.curr].cr += Number(entry.cr);
            balances[entry.curr].refs.push(entry.key);
            return balances;
            // }
          }, {});
        for (curr in balances) {
          if (balances[curr].dr > balances[curr].cr) {
            const newEntry = {
              key: newEntryKey(),
              // tenant_id: TENANT,
              acct: null,
              refs: balances[curr].refs,
              dr: null,
              cr: balances[curr].dr - balances[curr].cr,
              curr: curr,
            };
            this.newTransaction.entries.push(newEntry);
            console.log(balances[curr].dr, balances[curr].cr, newEntry);
          } else if (balances[curr].cr > balances[curr].dr) {
            const newEntry = {
              key: newEntryKey(),
              // tenant_id: TENANT,
              acct: null,
              refs: balances[curr].refs,
              dr: balances[curr].cr - balances[curr].dr,
              cr: null,
              curr: curr,
            }
            this.newTransaction.entries.push(newEntry);
            console.log(balances[curr].dr, balances[curr].cr, newEntry);
          }
        }
        if (this.newTransaction.entries.length == 0) {
          const newEntry = {
            key: newEntryKey(),
            // tenant_id: TENANT,
            acct: ACCOUNT_ID,
            dr: null,
            cr: null,
            curr: null,
            refs: []
          };
          this.newTransaction.entries.push(newEntry);
          console.log(newEntry);
        }
      }
    }
  }).mount("#app");
  async function fetchAccount() {
    const account_url = `http://localhost:8000/api/accounts?id=${ACCOUNT_ID}`;
    const result = await fetch(account_url).then((response) => response.json());
    if (result.length > 0) {
      const tx_url = `http://localhost:8000/api/transactions?acct=${ACCOUNT_ID}&_orderby=-id`;
      account = result[0];
      account.transactions = await fetch(tx_url).then((response) => response.json());
      return account;
    } else {
      return {};
    }
  }
  async function fetchCurrencies() {
    const currencies_url = "http://localhost:8000/api/currencies?_orderby=code";
    return await fetch(currencies_url).then((response) => response.json());
  }
  async function fetchAccounts() {
    const accounts_url = `http://localhost:8000/api/accounts?tenant=${TENANT}&_orderby=parent_id,name`;
    accounts = await fetch(accounts_url).then((response) => response.json());
    return accounts
  }
</script>
{% endblock %}